Repository SystemConsultantGroup/S-top-backend, pull requests merged in 2024-08, with the labels that each got.

#37 [FIX] CI WORKFLOW test report 수정
  .github/workflows/CI.yml
Labels: 🐞 Bug

#33 [FEAT] getGallery, updateGallery, deleteGallery API, test, restDocs 구현
  src/docs/asciidoc/gallery.adoc
  src/main/java/com/scg/stop/domain/gallery/controller/GalleryController.java
  src/main/java/com/scg/stop/domain/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/domain/gallery/dto/request/GalleryRequest.java
  src/main/java/com/scg/stop/domain/gallery/dto/response/GalleryResponse.java
  src/main/java/com/scg/stop/domain/gallery/service/GalleryService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/test/java/com/scg/stop/domain/gallery/controller/GalleryControllerTest.java
Labels: 🚀 Feature, 🎯 API, Gallery Domain

#51 [FEAT] Video 관련 API 개발
  .gitignore
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInterview.adoc
  src/docs/asciidoc/talk.adoc
  src/main/java/com/scg/stop/domain/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/validation/EnumValidator.java
  src/main/java/com/scg/stop/global/validation/ValidEnum.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/video/controller/TalkController.java
  src/main/java/com/scg/stop/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/video/domain/JobInterview.java
  src/main/java/com/scg/stop/video/domain/JobInterviewCategory.java
  src/main/java/com/scg/stop/video/domain/Quiz.java
  src/main/java/com/scg/stop/video/domain/QuizInfo.java
  src/main/java/com/scg/stop/video/domain/Talk.java
  src/main/java/com/scg/stop/video/domain/UserQuiz.java
  src/main/java/com/scg/stop/video/dto/request/JobInterviewRequest.java
  src/main/java/com/scg/stop/video/dto/request/QuizInfoRequest.java
  src/main/java/com/scg/stop/video/dto/request/QuizRequest.java
  src/main/java/com/scg/stop/video/dto/request/TalkRequest.java
  src/main/java/com/scg/stop/video/dto/response/JobInterviewResponse.java
  src/main/java/com/scg/stop/video/dto/response/QuizResponse.java
  src/main/java/com/scg/stop/video/dto/response/TalkResponse.java
  src/main/java/com/scg/stop/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/video/repository/QuizRepository.java
  src/main/java/com/scg/stop/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/video/service/TalkService.java
  src/test/java/com/scg/stop/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/video/controller/TalkControllerTest.java
Labels: 🚀 Feature, 🎯 API, Vido Domain

#57 [FIX] #9 merge conflict handling
  .github/workflows/CI.yml
  .gitignore
  src/docs/asciidoc/auth-controller-test.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInterview.adoc
  src/docs/asciidoc/talk.adoc
  src/main/java/com/scg/stop/auth/annotation/AuthUser.java
  src/main/java/com/scg/stop/auth/domain/StudentInfoDto.java
  src/main/java/com/scg/stop/auth/domain/request/RegisterRequest.java
  src/main/java/com/scg/stop/auth/domain/response/RegisterResponse.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/InquiryResponse.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalResponse.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseResponseEntity.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/java/com/scg/stop/global/validation/EnumValidator.java
  src/main/java/com/scg/stop/global/validation/ValidEnum.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/user/repository/UserRepository.java
  src/main/java/com/scg/stop/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/video/controller/TalkController.java
  src/main/java/com/scg/stop/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/video/domain/JobInterview.java
  src/main/java/com/scg/stop/video/domain/JobInterviewCategory.java
  src/main/java/com/scg/stop/video/domain/Quiz.java
  src/main/java/com/scg/stop/video/domain/QuizInfo.java
  src/main/java/com/scg/stop/video/domain/Talk.java
  src/main/java/com/scg/stop/video/domain/UserQuiz.java
  src/main/java/com/scg/stop/video/dto/request/JobInterviewRequest.java
  src/main/java/com/scg/stop/video/dto/request/QuizInfoRequest.java
  src/main/java/com/scg/stop/video/dto/request/QuizRequest.java
  src/main/java/com/scg/stop/video/dto/request/TalkRequest.java
  src/main/java/com/scg/stop/video/dto/response/JobInterviewResponse.java
  src/main/java/com/scg/stop/video/dto/response/QuizResponse.java
  src/main/java/com/scg/stop/video/dto/response/TalkResponse.java
  src/main/java/com/scg/stop/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/video/repository/QuizRepository.java
  src/main/java/com/scg/stop/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/video/service/TalkService.java
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/test/java/com/scg/stop/auth/controller/AuthControllerTest.java
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/exception/ExceptionCodeControllerTest.java
  src/test/java/com/scg/stop/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/video/controller/TalkControllerTest.java
Labels: 🎯 API, 🧹 Chore, Notice Domain, Event Domain

#58 [FEAT] EvnetPeriod 관련 API 구현 완료
  .gitignore
  build.gradle
  src/docs/asciidoc/eventPeriod.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/file/domain/File.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/event/controller/EventPeriodController.java
  src/main/java/com/scg/stop/event/domain/EventNotice.java
  src/main/java/com/scg/stop/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/event/dto/request/EventPeriodRequest.java
  src/main/java/com/scg/stop/event/dto/response/EventPeriodResponse.java
  src/main/java/com/scg/stop/event/repository/EventPeriodRepository.java
  src/main/java/com/scg/stop/event/service/EventPeriodService.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/ExceptionResponse.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/java/com/scg/stop/video/domain/UserQuiz.java
  src/main/resources/application-local.yml
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/event/controller/EventPeriodControllerTest.java
Labels: 🚀 Feature, 🎯 API, Event Domain

#50 [FEAT] getAIHubModels/Datasets API 구현 / RestDocs
  src/docs/asciidoc/aiHub-controller-test.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/aihub/controller/AiHubController.java
  src/main/java/com/scg/stop/aihub/dto/request/AiHubDatasetRequest.java
  src/main/java/com/scg/stop/aihub/dto/request/AiHubModelRequest.java
  src/main/java/com/scg/stop/aihub/dto/response/AiHubDatasetResponse.java
  src/main/java/com/scg/stop/aihub/dto/response/AiHubModelResponse.java
  src/main/java/com/scg/stop/aihub/service/AiHubService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/test/java/com/scg/stop/aiHub/controller/AiHubControllerTest.java
Labels: 🚀 Feature, 🎯 API, Notion Domain

#64 [FEAT] Gallery 관련 API 구현 완료 (#10)
  src/docs/asciidoc/gallery.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/file/domain/File.java
  src/main/java/com/scg/stop/domain/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/gallery/controller/GalleryController.java
  src/main/java/com/scg/stop/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/gallery/dto/request/GalleryRequest.java
  src/main/java/com/scg/stop/gallery/dto/response/GalleryResponse.java
  src/main/java/com/scg/stop/gallery/repository/GalleryRepository.java
  src/main/java/com/scg/stop/gallery/service/GalleryService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/resources/application-local.yml
  src/test/java/com/scg/stop/gallery/controller/GalleryControllerTest.java
Labels: 🚀 Feature, 🎯 API, Gallery Domain

#70 [FEAT] Optional Auth 추가, Quiz 및 Favorite 관련 수정
  src/docs/asciidoc/talk.adoc
  src/main/java/com/scg/stop/auth/config/AuthUserArgumentResolver.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/user/domain/AccessType.java
  src/main/java/com/scg/stop/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/video/controller/TalkController.java
  src/main/java/com/scg/stop/video/dto/response/JobInterviewUserResponse.java
  src/main/java/com/scg/stop/video/dto/response/TalkUserResponse.java
  src/main/java/com/scg/stop/video/repository/FavoriteVideoRepository.java
  src/main/java/com/scg/stop/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/video/service/FavoriteVideoService.java
  src/main/java/com/scg/stop/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/video/service/QuizService.java
  src/main/java/com/scg/stop/video/service/TalkService.java
  src/main/resources/application-local.yml
  src/test/java/com/scg/stop/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/video/controller/TalkControllerTest.java
Labels: 🚀 Feature, 🎯 API, Vido Domain

#74 [FEAT] Quiz, Video Favorite 관련 API 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInterview.adoc
  src/docs/asciidoc/quiz.adoc
  src/docs/asciidoc/talk.adoc
  src/main/java/com/scg/stop/auth/config/AuthUserArgumentResolver.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/user/domain/AccessType.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/video/controller/QuizController.java
  src/main/java/com/scg/stop/video/controller/TalkController.java
  src/main/java/com/scg/stop/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/video/domain/JobInterview.java
  src/main/java/com/scg/stop/video/domain/Talk.java
  src/main/java/com/scg/stop/video/domain/UserQuiz.java
  src/main/java/com/scg/stop/video/dto/request/QuizSubmitRequest.java
  src/main/java/com/scg/stop/video/dto/response/JobInterviewUserResponse.java
  src/main/java/com/scg/stop/video/dto/response/QuizSubmitResponse.java
  src/main/java/com/scg/stop/video/dto/response/TalkUserResponse.java
  src/main/java/com/scg/stop/video/dto/response/UserQuizResultResponse.java
  src/main/java/com/scg/stop/video/repository/FavoriteVideoRepository.java
  src/main/java/com/scg/stop/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/video/repository/QuizRepository.java
  src/main/java/com/scg/stop/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/video/repository/UserQuizRepository.java
  src/main/java/com/scg/stop/video/service/FavoriteVideoService.java
  src/main/java/com/scg/stop/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/video/service/QuizService.java
  src/main/java/com/scg/stop/video/service/TalkService.java
  src/test/java/com/scg/stop/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/video/controller/QuizControllerTest.java
  src/test/java/com/scg/stop/video/controller/TalkControllerTest.java
Labels: 🚀 Feature, 🎯 API, Vido Domain

#61 [FEAT] JobInfo API 구현 / RestDocs, controller test
  src/docs/asciidoc/aihub-controller-test.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInfo-controller-test.adoc
  src/main/java/com/scg/stop/jobInfo/controller/JobInfoController.java
  src/main/java/com/scg/stop/jobInfo/dto/request/JobInfoRequest.java
  src/main/java/com/scg/stop/jobInfo/dto/response/JobInfoResponse.java
  src/main/java/com/scg/stop/jobInfo/service/JobInfoService.java
  src/test/java/com/scg/stop/jobInfo/controller/JobInfoControllerTest.java
Labels: 🚀 Feature, 🎯 API, Notion Domain

#60 [FEAT] user 관련 api 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/user-controller-test.adoc
  src/main/java/com/scg/stop/auth/service/AuthService.java
  src/main/java/com/scg/stop/domain/project/domain/Comment.java
  src/main/java/com/scg/stop/domain/project/domain/Inquiry.java
  src/main/java/com/scg/stop/domain/project/domain/Likes.java
  src/main/java/com/scg/stop/domain/proposal/domain/Proposal.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/user/controller/UserController.java
  src/main/java/com/scg/stop/user/domain/Application.java
  src/main/java/com/scg/stop/user/domain/Department.java
  src/main/java/com/scg/stop/user/domain/Student.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/user/dto/request/UserUpdateRequest.java
  src/main/java/com/scg/stop/user/dto/response/UserResponse.java
  src/main/java/com/scg/stop/user/service/UserService.java
  src/test/java/com/scg/stop/user/controller/UserControllerTest.java
Labels: 🚀 Feature, 🎯 API, User Domain

#53 [FEAT] 파일 업로드 API, restdocs 구현
  .gitignore
  build.gradle
  src/docs/asciidoc/file-controller-test.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/file/config/MinioConfig.java
  src/main/java/com/scg/stop/file/controller/FileController.java
  src/main/java/com/scg/stop/file/domain/File.java
  src/main/java/com/scg/stop/file/dto/response/FileResponse.java
  src/main/java/com/scg/stop/file/repository/FileRepository.java
  src/main/java/com/scg/stop/file/service/FileService.java
  src/main/java/com/scg/stop/file/service/MinioClientService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/java/com/scg/stop/global/exception/InternalServerErrorException.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/java/com/scg/stop/file/controller/FileControllerTest.java
Labels: 🚀 Feature, 🎯 API, File Domain

#82 [CHORE] CI 과정에 application-minio.yml 파일 추가
  .github/workflows/CI.yml
Labels: 🧹 Chore, ⚙️ Configuration, File Domain

#85 [FIX] Notice / EventNotice 목록 조회 시 sort 미적용 해결
  src/main/java/com/scg/stop/event/controller/EventNoticeController.java
  src/main/java/com/scg/stop/event/repository/EventNoticeRepository.java
  src/main/java/com/scg/stop/event/service/EventNoticeService.java
  src/main/java/com/scg/stop/notice/controller/NoticeController.java
  src/main/java/com/scg/stop/notice/repository/NoticeRepository.java
  src/main/java/com/scg/stop/notice/service/NoticeService.java
Labels: 🐞 Bug, 🎯 API, Notice Domain, Event Domain
