Repository SystemConsultantGroup/S-top-backend, pull requests merged in 2024-07, with the labels that each got.

#3 [FEAT] 도메인 설계, 엔티티 클래스 작성
  build.gradle
  src/main/java/com/scg/stop/StopApplication.java
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/domain/file/domain/File.java
  src/main/java/com/scg/stop/domain/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/AwardStatus.java
  src/main/java/com/scg/stop/domain/project/domain/Comment.java
  src/main/java/com/scg/stop/domain/project/domain/FavoriteProject.java
  src/main/java/com/scg/stop/domain/project/domain/Inquiry.java
  src/main/java/com/scg/stop/domain/project/domain/InquiryResponse.java
  src/main/java/com/scg/stop/domain/project/domain/Likes.java
  src/main/java/com/scg/stop/domain/project/domain/Member.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/project/domain/ProjectCategory.java
  src/main/java/com/scg/stop/domain/project/domain/ProjectType.java
  src/main/java/com/scg/stop/domain/project/domain/Role.java
  src/main/java/com/scg/stop/domain/proposal/domain/Proposal.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalResponse.java
  src/main/java/com/scg/stop/domain/user/domain/Application.java
  src/main/java/com/scg/stop/domain/user/domain/Department.java
  src/main/java/com/scg/stop/domain/user/domain/Student.java
  src/main/java/com/scg/stop/domain/user/domain/User.java
  src/main/java/com/scg/stop/domain/user/domain/UserType.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/Quiz.java
  src/main/java/com/scg/stop/domain/video/domain/QuizInfo.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/domain/video/domain/UserQuiz.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseResponseEntity.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
Labels: 🚀 Feature

#16 [CHORE] CI Workflow trigger fix
  .github/workflows/CI.yml
  src/main/resources/application-local.yml
Labels: 🧹 Chore

#12 [FEAT] Notice api 일부 구현 (create, get, update, delete)
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/notice/controller/NoticeController.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/notice/dto/NoticeDto.java
  src/main/java/com/scg/stop/domain/notice/repository/NoticeRepository.java
  src/main/java/com/scg/stop/domain/notice/service/NoticeService.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
Labels: 🚀 Feature, 🎯 API, Notice Domain

#13 [FEAT] createEventPeriod API 구현
  build.gradle
  src/main/java/com/scg/stop/domain/event/controller/EventPeriodController.java
  src/main/java/com/scg/stop/domain/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/domain/event/dto/EventPeriodRequest.java
  src/main/java/com/scg/stop/domain/event/dto/EventPeriodResponse.java
  src/main/java/com/scg/stop/domain/event/repository/EventPeriodRepository.java
  src/main/java/com/scg/stop/domain/event/service/EventPeriodService.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
Labels: 🚀 Feature, 🎯 API, EvntPeriod Domain

#17 [FEAT] Global Exception, Test, Restdocs 설정
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, ⚙️ Configuration

#14 [FEAT] JobInterview API 구현
  src/main/java/com/scg/stop/domain/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/domain/video/controller/TalkController.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterviewCategory.java
  src/main/java/com/scg/stop/domain/video/dto/request/JobInterviewRequest.java
  src/main/java/com/scg/stop/domain/video/dto/response/JobInterviewResponse.java
  src/main/java/com/scg/stop/domain/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/domain/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/domain/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/domain/video/service/TalkService.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
  src/main/java/com/scg/stop/global/validation/EnumValidator.java
  src/main/java/com/scg/stop/global/validation/ValidEnum.java
Labels: 🚀 Feature, 🎯 API, Vido Domain

#21 [FEAT] Custom Exception Code 기능 구현, 문서화
  .gitignore
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/ExceptionResponse.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/test/java/com/scg/stop/exception/ExceptionCodeController.java
  src/test/java/com/scg/stop/exception/ExceptionCodeControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionResponseFieldsSnippet.java
  src/test/resources/org/springframework/restdocs/templates/exception-response-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, ⚙️ Configuration

#15 [FEAT] createEventPeriod 테스트, RestDocs 구현
  build.gradle
  src/docs/asciidoc/eventPeriod.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/event/controller/EventPeriodController.java
  src/main/java/com/scg/stop/domain/event/dto/EventPeriodRequest.java
  src/main/java/com/scg/stop/domain/event/dto/EventPeriodResponse.java
  src/main/java/com/scg/stop/domain/event/service/EventPeriodService.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/ExceptionResponse.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/index.html
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/domain/event/controller/EventPeriodControllerTest.java
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, 🎯 API, EvntPeriod Domain

#26 [FIX] 도메인 수정
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/Comment.java
  src/main/java/com/scg/stop/domain/project/domain/InquiryResponse.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalResponse.java
  src/main/java/com/scg/stop/domain/user/domain/User.java
  src/main/java/com/scg/stop/domain/user/domain/UserType.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseResponseEntity.java
Labels: 🐞 Bug

#19 [FEAT] Project API | getProjects API 구현
  src/main/java/com/scg/stop/domain/project/controller/ProjectController.java
  src/main/java/com/scg/stop/domain/project/dto/response/ProjectResponse.java
  src/main/java/com/scg/stop/domain/project/repository/ProjectRepository.java
  src/main/java/com/scg/stop/domain/project/service/ProjectService.java
Labels: 🚀 Feature, 🎯 API, Project Domain

#22 [FEAT] createGallery API, 테스트, restdocs 구현
  src/docs/asciidoc/gallery.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/file/domain/File.java
  src/main/java/com/scg/stop/domain/file/dto/response/FileResponse.java
  src/main/java/com/scg/stop/domain/file/repository/FileRepository.java
  src/main/java/com/scg/stop/domain/gallery/controller/GalleryController.java
  src/main/java/com/scg/stop/domain/gallery/domain/Gallery.java
  src/main/java/com/scg/stop/domain/gallery/dto/request/CreateGalleryRequest.java
  src/main/java/com/scg/stop/domain/gallery/dto/response/GalleryResponse.java
  src/main/java/com/scg/stop/domain/gallery/repository/GalleryRepository.java
  src/main/java/com/scg/stop/domain/gallery/service/GalleryService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/resources/application-local.yml
  src/test/java/com/scg/stop/domain/gallery/controller/GalleryControllerTest.java
Labels: 🚀 Feature, 🎯 API, Gallery Domain

#23 [FEAT] getEventPeriods, deleteEventPeriods API, restdocs 구현
  .github/workflows/CI.yml
  .gitignore
  src/docs/asciidoc/eventPeriod.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/scg/stop/domain/event/controller/EventPeriodController.java
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/domain/event/dto/request/CreateEventPeriodRequest.java
  src/main/java/com/scg/stop/domain/event/dto/response/EventPeriodResponse.java
  src/main/java/com/scg/stop/domain/event/service/EventPeriodService.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/Comment.java
  src/main/java/com/scg/stop/domain/project/domain/InquiryResponse.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalResponse.java
  src/main/java/com/scg/stop/domain/user/domain/User.java
  src/main/java/com/scg/stop/domain/user/domain/UserType.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseResponseEntity.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/resources/application-local.yml
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/index.html
  src/test/java/com/scg/stop/domain/event/controller/EventPeriodControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionCodeController.java
  src/test/java/com/scg/stop/exception/ExceptionCodeControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionResponseFieldsSnippet.java
  src/test/resources/org/springframework/restdocs/templates/exception-response-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, 🎯 API, Event Domain

#18 [FEAT] Notice API, Notice RestDocs 구현
  .gitignore
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/notice.adoc
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/file/domain/File.java
  src/main/java/com/scg/stop/domain/file/dto/response/FileResponse.java
  src/main/java/com/scg/stop/domain/file/repository/FileRepository.java
  src/main/java/com/scg/stop/domain/notice/controller/NoticeController.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/notice/dto/NoticeDto.java
  src/main/java/com/scg/stop/domain/notice/dto/request/NoticeRequest.java
  src/main/java/com/scg/stop/domain/notice/dto/response/NoticeListElementResponse.java
  src/main/java/com/scg/stop/domain/notice/dto/response/NoticeResponse.java
  src/main/java/com/scg/stop/domain/notice/repository/NoticeRepository.java
  src/main/java/com/scg/stop/domain/notice/service/NoticeService.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseTimeEntity.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/ExceptionResponse.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/domain/notice/controller/NoticeControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionCodeController.java
  src/test/java/com/scg/stop/exception/ExceptionCodeControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionResponseFieldsSnippet.java
  src/test/resources/org/springframework/restdocs/templates/exception-response-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, 🎯 API, Notice Domain

#32 [FEAT] CI Workflow 수정 & 유닛테스트 퍼센티지 기능 추가
  .github/workflows/CI.yml
  src/main/resources/application-prod.yml
Labels: 🐞 Bug, ⚙️ Configuration

#28 [FEAT] JobInterview API, JobInterview RestDocs 작성
  .github/workflows/CI.yml
  .gitignore
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInterview.adoc
  src/main/java/com/scg/stop/domain/event/domain/EventNotice.java
  src/main/java/com/scg/stop/domain/event/domain/EventPeriod.java
  src/main/java/com/scg/stop/domain/notice/domain/Notice.java
  src/main/java/com/scg/stop/domain/project/domain/Comment.java
  src/main/java/com/scg/stop/domain/project/domain/InquiryResponse.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalResponse.java
  src/main/java/com/scg/stop/domain/user/domain/User.java
  src/main/java/com/scg/stop/domain/user/domain/UserType.java
  src/main/java/com/scg/stop/domain/video/domain/BaseVideoEntity.java
  src/main/java/com/scg/stop/domain/video/domain/JobInterview.java
  src/main/java/com/scg/stop/domain/video/domain/Talk.java
  src/main/java/com/scg/stop/domain/video/dto/response/JobInterviewResponse.java
  src/main/java/com/scg/stop/domain/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/global/domain/BaseNoticeEntity.java
  src/main/java/com/scg/stop/global/domain/BaseResponseEntity.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/global/exception/ExceptionResponse.java
  src/main/java/com/scg/stop/global/exception/GlobalExceptionHandler.java
  src/main/resources/application-local.yml
  src/test/java/com/scg/stop/configuration/AbstractControllerTest.java
  src/test/java/com/scg/stop/configuration/RestDocsConfiguration.java
  src/test/java/com/scg/stop/domain/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionCodeController.java
  src/test/java/com/scg/stop/exception/ExceptionCodeControllerTest.java
  src/test/java/com/scg/stop/exception/ExceptionResponseFieldsSnippet.java
  src/test/resources/org/springframework/restdocs/templates/exception-response-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🚀 Feature, 🎯 API, Vido Domain

#34 [FIX] CI Workflow Unit Test 권한 문제 수정
  .github/workflows/CI.yml
Labels: 🐞 Bug

#27 [FEAT] getGalleries API, restdocs 구현
  src/docs/asciidoc/gallery.adoc
  src/main/java/com/scg/stop/domain/gallery/controller/GalleryController.java
  src/main/java/com/scg/stop/domain/gallery/repository/GalleryRepository.java
  src/main/java/com/scg/stop/domain/gallery/service/GalleryService.java
  src/test/java/com/scg/stop/domain/gallery/controller/GalleryControllerTest.java
Labels: 🚀 Feature, 🎯 API, Gallery Domain

#30 [Feat] createProject, getProject, updateProject, deleteProject API, restdocs 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/project.adoc
  src/main/java/com/scg/stop/domain/file/repository/FileRepository.java
  src/main/java/com/scg/stop/domain/project/controller/ProjectController.java
  src/main/java/com/scg/stop/domain/project/domain/Member.java
  src/main/java/com/scg/stop/domain/project/domain/Project.java
  src/main/java/com/scg/stop/domain/project/dto/request/MemberRequest.java
  src/main/java/com/scg/stop/domain/project/dto/request/ProjectRequest.java
  src/main/java/com/scg/stop/domain/project/dto/response/ProjectDetailResponse.java
  src/main/java/com/scg/stop/domain/project/repository/ProjectRepository.java
  src/main/java/com/scg/stop/domain/project/service/ProjectService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/test/java/com/scg/stop/domain/project/controller/ProjectControllerTest.java
Labels: 🚀 Feature, 🎯 API, Project Domain
