Repository SystemConsultantGroup/S-top-backend, pull requests merged in 2024-09, with the labels that each got.

#78 [FEAT] Project API 마무리
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/jobInterview.adoc
  src/docs/asciidoc/project.adoc
  src/docs/asciidoc/quiz.adoc
  src/docs/asciidoc/talk.adoc
  src/main/java/com/scg/stop/auth/config/AuthUserArgumentResolver.java
  src/main/java/com/scg/stop/auth/controller/AuthController.java
  src/main/java/com/scg/stop/event/repository/EventPeriodRepository.java
  src/main/java/com/scg/stop/event/service/EventPeriodService.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/project/controller/ProjectController.java
  src/main/java/com/scg/stop/project/domain/FavoriteProject.java
  src/main/java/com/scg/stop/project/domain/Likes.java
  src/main/java/com/scg/stop/project/domain/Project.java
  src/main/java/com/scg/stop/project/dto/response/ProjectDetailResponse.java
  src/main/java/com/scg/stop/project/dto/response/ProjectResponse.java
  src/main/java/com/scg/stop/project/repository/ProjectRepository.java
  src/main/java/com/scg/stop/project/service/ProjectService.java
  src/main/java/com/scg/stop/user/domain/AccessType.java
  src/main/java/com/scg/stop/user/domain/Student.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/video/controller/JobInterviewController.java
  src/main/java/com/scg/stop/video/controller/QuizController.java
  src/main/java/com/scg/stop/video/controller/TalkController.java
  src/main/java/com/scg/stop/video/domain/FavoriteVideo.java
  src/main/java/com/scg/stop/video/domain/JobInterview.java
  src/main/java/com/scg/stop/video/domain/Talk.java
  src/main/java/com/scg/stop/video/domain/UserQuiz.java
  src/main/java/com/scg/stop/video/dto/request/QuizSubmitRequest.java
  src/main/java/com/scg/stop/video/dto/response/JobInterviewUserResponse.java
  src/main/java/com/scg/stop/video/dto/response/QuizSubmitResponse.java
  src/main/java/com/scg/stop/video/dto/response/TalkUserResponse.java
  src/main/java/com/scg/stop/video/dto/response/UserQuizResultResponse.java
  src/main/java/com/scg/stop/video/repository/FavoriteVideoRepository.java
  src/main/java/com/scg/stop/video/repository/JobInterviewRepository.java
  src/main/java/com/scg/stop/video/repository/QuizRepository.java
  src/main/java/com/scg/stop/video/repository/TalkRepository.java
  src/main/java/com/scg/stop/video/repository/UserQuizRepository.java
  src/main/java/com/scg/stop/video/service/FavoriteVideoService.java
  src/main/java/com/scg/stop/video/service/JobInterviewService.java
  src/main/java/com/scg/stop/video/service/QuizService.java
  src/main/java/com/scg/stop/video/service/TalkService.java
  src/main/resources/application-common.yml
  src/test/java/com/scg/stop/auth/controller/AuthControllerTest.java
  src/test/java/com/scg/stop/project/controller/ProjectControllerTest.java
  src/test/java/com/scg/stop/video/controller/JobInterviewControllerTest.java
  src/test/java/com/scg/stop/video/controller/QuizControllerTest.java
  src/test/java/com/scg/stop/video/controller/TalkControllerTest.java
Labels: 🚀 Feature, 🎯 API, Project Domain

#90 [FIX] event notice file update 시 미포함된 파일 삭제되도록 수정
  src/main/java/com/scg/stop/event/domain/EventNotice.java
Labels: 🐞 Bug, 🎯 API, Event Domain

#94 [FIX] getProjects의 response에 year 추가
  src/main/java/com/scg/stop/project/dto/response/ProjectResponse.java
  src/test/java/com/scg/stop/project/controller/ProjectControllerTest.java
Labels: 🐞 Bug, Project Domain

#95 [CHORE] add html files for RestDocs
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/exceptionCode.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/main/resources/static/docs/user-controller-test.html
Labels: 🎯 API, 🧹 Chore, Notion Domain

#96 [FIX] 다중 파일 업로드가 가능하도록 uploadFile API 수정
  src/docs/asciidoc/file-controller-test.adoc
  src/main/java/com/scg/stop/file/controller/FileController.java
  src/main/java/com/scg/stop/file/service/FileService.java
  src/main/java/com/scg/stop/file/service/MinioClientService.java
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/test/java/com/scg/stop/file/controller/FileControllerTest.java
Labels: 🐞 Bug, File Domain

#100 [Fix] getProjects 필터링 기능 추가
  src/main/java/com/scg/stop/project/controller/ProjectController.java
  src/main/java/com/scg/stop/project/repository/ProjectRepository.java
  src/main/java/com/scg/stop/project/service/ProjectService.java
  src/main/resources/static/docs/aiHub-controller-test.html
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/department.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/jobInfo-controller-test.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/main/resources/static/docs/user-controller-test.html
  src/test/java/com/scg/stop/project/controller/ProjectControllerTest.java
Labels: 🐞 Bug, Project Domain

#102 [CHORE] 레포 이름 변경으로 인한 restdocs 경로 변경
  README.md
Labels: 🧹 Chore
