Repository SystemConsultantGroup/S-top-backend, pull requests merged in 2024-11, with the labels that each got.

#113 [FIX] Inquiry API replied flag 추가
  src/main/java/com/scg/stop/project/dto/response/InquiryDetailResponse.java
  src/main/java/com/scg/stop/project/service/InquiryService.java
  src/main/java/com/scg/stop/project/service/ProjectService.java
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/project.html
  src/test/java/com/scg/stop/inquiry/controller/InquiryControllerTest.java
Labels: 🐞 Bug, 🎯 API, Inquiry Domain

#116 [FEAT] USER API adoc 수정
  .gitignore
  src/docs/asciidoc/file-controller-test.adoc
  src/docs/asciidoc/project.adoc
  src/docs/asciidoc/user.adoc
  src/main/java/com/scg/stop/file/controller/FileController.java
  src/main/java/com/scg/stop/file/service/FileService.java
  src/main/java/com/scg/stop/global/excel/ExcelUtil.java
  src/main/java/com/scg/stop/global/exception/BadRequestException.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/project/controller/ProjectExcelController.java
  src/main/java/com/scg/stop/project/domain/AwardStatus.java
  src/main/java/com/scg/stop/project/domain/ProjectCategory.java
  src/main/java/com/scg/stop/project/domain/ProjectType.java
  src/main/java/com/scg/stop/project/dto/request/ProjectRequest.java
  src/main/java/com/scg/stop/project/dto/response/InquiryDetailResponse.java
  src/main/java/com/scg/stop/project/dto/response/ProjectDetailResponse.java
  src/main/java/com/scg/stop/project/dto/response/ProjectExcelResponse.java
  src/main/java/com/scg/stop/project/dto/response/ProjectResponse.java
  src/main/java/com/scg/stop/project/service/InquiryService.java
  src/main/java/com/scg/stop/project/service/ProjectExcelService.java
  src/main/java/com/scg/stop/project/service/ProjectService.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/main/resources/form/project_upload_form.xlsx
  src/main/resources/static/docs/aihub-controller-test.html
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/department.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/jobInfo-controller-test.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/main/resources/static/docs/user.html
  src/test/java/com/scg/stop/file/controller/FileControllerTest.java
  src/test/java/com/scg/stop/inquiry/controller/InquiryControllerTest.java
  src/test/java/com/scg/stop/project/controller/ProjectControllerTest.java
  src/test/java/com/scg/stop/project/controller/ProjectExcelControllerTest.java
Labels: 🚀 Feature, 🎯 API, User Domain

#111 [FEAT] User 관련 API 구현 완료
  src/docs/asciidoc/department.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/user.adoc
  src/main/java/com/scg/stop/auth/service/AuthService.java
  src/main/java/com/scg/stop/domain/proposal/domain/Proposal.java
  src/main/java/com/scg/stop/domain/proposal/domain/ProposalReply.java
  src/main/java/com/scg/stop/domain/proposal/repository/ProposalRepository.java
  src/main/java/com/scg/stop/global/exception/ExceptionCode.java
  src/main/java/com/scg/stop/project/domain/Comment.java
  src/main/java/com/scg/stop/project/domain/Inquiry.java
  src/main/java/com/scg/stop/project/domain/Likes.java
  src/main/java/com/scg/stop/project/repository/FavoriteProjectRepository.java
  src/main/java/com/scg/stop/project/repository/InquiryRepository.java
  src/main/java/com/scg/stop/user/controller/DepartmentController.java
  src/main/java/com/scg/stop/user/controller/UserController.java
  src/main/java/com/scg/stop/user/domain/Application.java
  src/main/java/com/scg/stop/user/domain/Department.java
  src/main/java/com/scg/stop/user/domain/FavoriteType.java
  src/main/java/com/scg/stop/user/domain/Student.java
  src/main/java/com/scg/stop/user/domain/User.java
  src/main/java/com/scg/stop/user/dto/request/UserUpdateRequest.java
  src/main/java/com/scg/stop/user/dto/response/DepartmentResponse.java
  src/main/java/com/scg/stop/user/dto/response/FavoriteResponse.java
  src/main/java/com/scg/stop/user/dto/response/UserInquiryResponse.java
  src/main/java/com/scg/stop/user/dto/response/UserProposalResponse.java
  src/main/java/com/scg/stop/user/dto/response/UserResponse.java
  src/main/java/com/scg/stop/user/service/DepartmentService.java
  src/main/java/com/scg/stop/user/service/UserService.java
  src/main/java/com/scg/stop/video/repository/FavoriteVideoRepository.java
  src/main/resources/static/docs/aihub-controller-test.html
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/department.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/exceptionCode.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/jobInfo-controller-test.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/proposal.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/main/resources/static/docs/user-controller-test.html
  src/main/resources/static/docs/user.html
  src/test/java/com/scg/stop/user/controller/DepartmentControllerTest.java
  src/test/java/com/scg/stop/user/controller/UserControllerTest.java
Labels: 🚀 Feature, 🎯 API, User Domain

#123 [FIX] getFile API 오류 수정
  src/main/java/com/scg/stop/StopApplication.java
  src/main/java/com/scg/stop/file/service/MinioClientService.java
Labels: 🐞 Bug, File Domain

#120 [FIX] JobInfo 웹사이트, logo 이미지 fetching 수정
  src/main/java/com/scg/stop/jobInfo/dto/response/JobInfoResponse.java
Labels: 🐞 Bug, 🎯 API, Notion Domain

#121 [FEAT] Implement searchScope for notice/eventNotice/Inquiry
  src/main/java/com/scg/stop/event/controller/EventNoticeController.java
  src/main/java/com/scg/stop/event/repository/EventNoticeRepository.java
  src/main/java/com/scg/stop/event/service/EventNoticeService.java
  src/main/java/com/scg/stop/notice/controller/NoticeController.java
  src/main/java/com/scg/stop/notice/repository/NoticeRepository.java
  src/main/java/com/scg/stop/notice/service/NoticeService.java
  src/main/java/com/scg/stop/project/controller/InquiryController.java
  src/main/java/com/scg/stop/project/repository/InquiryRepository.java
  src/main/java/com/scg/stop/project/service/InquiryService.java
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/notice.html
  src/test/java/com/scg/stop/event/controller/EventNoticeControllerTest.java
  src/test/java/com/scg/stop/inquiry/controller/InquiryControllerTest.java
  src/test/java/com/scg/stop/notice/controller/NoticeControllerTest.java
Labels: 🚀 Feature, 🎯 API, Notice Domain, Event Domain, Inquiry Domain

#126 [CHORE] develop 브랜치 trigger 추가
  .github/workflows/CD.yml
Labels: 🧹 Chore, ⚙️ Configuration

#128 [FIX] Access Token이 Bearer null 인 경우 Optional이 작동하지 않음
  src/main/java/com/scg/stop/auth/config/AuthUserArgumentResolver.java
Labels: 🐞 Bug, 🎯 API, auth domain

#131 [FEAT] (이벤트)공지사항/프로젝트 문의 리스트 조회 기능 추가
  src/main/java/com/scg/stop/event/controller/EventNoticeController.java
  src/main/java/com/scg/stop/event/repository/EventNoticeRepository.java
  src/main/java/com/scg/stop/event/service/EventNoticeService.java
  src/main/java/com/scg/stop/notice/controller/NoticeController.java
  src/main/java/com/scg/stop/notice/repository/NoticeRepository.java
  src/main/java/com/scg/stop/notice/service/NoticeService.java
  src/main/java/com/scg/stop/project/controller/InquiryController.java
  src/main/java/com/scg/stop/project/repository/InquiryRepository.java
  src/main/java/com/scg/stop/project/service/InquiryService.java
  src/main/resources/static/docs/aihub-controller-test.html
  src/main/resources/static/docs/application.html
  src/main/resources/static/docs/auth-controller-test.html
  src/main/resources/static/docs/department.html
  src/main/resources/static/docs/eventNotice.html
  src/main/resources/static/docs/eventPeriod.html
  src/main/resources/static/docs/file-controller-test.html
  src/main/resources/static/docs/gallery.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/inquiry.html
  src/main/resources/static/docs/jobInfo-controller-test.html
  src/main/resources/static/docs/jobInterview.html
  src/main/resources/static/docs/notice.html
  src/main/resources/static/docs/project.html
  src/main/resources/static/docs/proposal.html
  src/main/resources/static/docs/quiz.html
  src/main/resources/static/docs/talk.html
  src/main/resources/static/docs/user.html
  src/test/java/com/scg/stop/event/controller/EventNoticeControllerTest.java
  src/test/java/com/scg/stop/inquiry/controller/InquiryControllerTest.java
  src/test/java/com/scg/stop/notice/controller/NoticeControllerTest.java
Labels: 🚀 Feature, 🎯 API, Notice Domain, Event Domain, Inquiry Domain
